$doc-layout-padding: 25px;
$doc-header-height: 60px;
$doc-layout-left-width: 315px;
$doc-layout-left-padding-right: 30px;
$doc-content-padding-left: $doc-layout-left-width + $doc-layout-left-padding-right;

$operate-height: 60px;

@include b(doc-header) {
    height: $doc-header-height;

    &-inner {
        height: $doc-header-height;
        @apply fixed top-0 w-full z-50 flex;
    }

    @include m(left) {
        width: $doc-layout-left-width;
        padding: 0 $doc-layout-padding;
    }

    @include m(right) {
        @apply flex-auto bg-white;
    }
}

@include b(doc-layout) {
    height: calc(100vh - $doc-header-height);
    overflow: hidden;
    display: flex;
    flex-direction: row;

    @include m(left) {
        width: $doc-layout-left-width;
        padding: 0 $doc-layout-padding;
        padding-bottom: $doc-layout-padding;
    }

    @include m(right) {
        height: 100%;
        overflow: scroll;
        @apply flex-auto bg-white;
    }

    @include e(gap) {
        height: $doc-layout-padding;
    }
}

@include b(document) {
    position: relative;
    min-height: calc(100vh - $doc-header-height);
    padding: 0 40px;

    @include e(title) {
        font-size: 32px;
        font-weight: 500;
        word-break: break-all;
        color: theme('colors.zinc.800');
        border: 1px solid transparent;
        outline: none;
        width: 100%;
    }

    @include when(detail) {
        padding-bottom: 40px;
    }

    @include when(edit) {
        @include e(title) {
            font-weight: 400;
        }
    }

    @include e(operate) {
        position: fixed;
        z-index: 99;
        width: 100%;
        top: auto;
        left: 0;
        bottom: 0;
        padding-left: $doc-content-padding-left + $doc-layout-padding;
        padding-right: $doc-layout-padding;

        &-inner {
            box-shadow: 0px -4px 8px -5px #c7c7c7;
            background: rgb(255, 255, 255);
            border: 1px solid transparent;
            border-top: 0;
            border-bottom: 0;
            padding: 0 28px;
            height: $operate-height;
            display: flex;
            align-items: center;
            justify-content: right;
        }
    }

    /* 文档详情loading 位置 */
    .el-loading-spinner {
        top: 150px;
        margin-top: 0;
    }
}
