$doc-layout-padding: 25px;
$doc-header-height: 60px;
$doc-layout-left-width: 315px;
$doc-layout-left-padding-right: 30px;
$doc-content-padding-left: $doc-layout-left-width + $doc-layout-left-padding-right;
$document-padding: 40px;

$operate-height: 60px;

@include b(doc-header) {
    height: $doc-header-height;

    &-inner {
        height: $doc-header-height;
        @apply fixed top-0 w-full z-50 flex;
    }

    @include m(left) {
        width: $doc-layout-left-width;
        padding: 0 $doc-layout-padding;
    }

    @include m(right) {
        @apply flex-auto bg-white;
    }
}
// 项目信息
@include b(project-info) {
    background-color: var(--bg-color);
    @apply flex items-center fixed left-0 top-0 z-50;
    height: $doc-header-height;
    width: $doc-layout-left-width;
    padding: 0 $doc-layout-padding;

    @include e(img) {
        height: 32px;
        width: 32px;
        margin-right: 10px;
        cursor: pointer;

        img {
            border-radius: 100%;
            overflow: hidden;
        }

        &:hover {
            img {
                display: none;
            }
            @include e(back) {
                display: inline-flex;
            }
        }

        @include e(back) {
            height: 32px;
            width: 32px;
            background-color: #dddddd;
            border-radius: 4px;
            display: none;
        }
    }

    @include e(title) {
        font-size: 16px;
        @include ellipsis();
        @apply flex-1;
    }

    @include e(icon) {
    }
}

// 文档主体布局
@include b(doc-layout) {
    height: 100vh;
    display: flex;
    flex-direction: row;

    @include e(left) {
        width: $doc-layout-left-width;
        padding: $doc-layout-padding;
        padding-top: $doc-header-height;
    }

    @include e(right) {
        position: fixed;
        right: 0;
        left: $doc-layout-left-width;
        top: $doc-header-height;
        bottom: 0;
        overflow: scroll;
        @apply bg-white;
    }

    @include e(gap) {
        height: $doc-header-height;
    }
}

// 文档编辑
@include b(document) {
    position: relative;
    min-height: calc(100vh - $doc-header-height);
    padding: 0 $document-padding;
    padding-bottom: $document-padding;

    @include e(title) {
        font-size: 32px;
        font-weight: 500;
        word-break: break-all;
        color: theme('colors.zinc.800');
        border: 1px solid transparent;
        outline: none;
        width: 100%;
    }

    @include e(desc) {
        vertical-align: center;
        font-size: 12px;
        color: #8a8f8d;
        > * {
            margin-right: 15px;
        }

        i {
            font-size: 12px;
            margin-right: 4px;
        }
    }

    @include when(detail) {
        padding-bottom: $document-padding;
    }

    @include when(edit) {
        @include e(title) {
            font-weight: 400;
        }
    }

    @include e(operate) {
        @apply h-full flex items-center;

        .el-button {
            width: 50px;
            height: 30px;
        }
        position: fixed;
        z-index: 99;
        width: 100%;
        top: auto;
        left: 0;
        bottom: 0;
        padding-left: $doc-content-padding-left + $doc-layout-padding;
        padding-right: $doc-layout-padding;

        &-inner {
            box-shadow: 0px -4px 8px -5px #c7c7c7;
            background: rgb(255, 255, 255);
            border: 1px solid transparent;
            border-top: 0;
            border-bottom: 0;
            padding: 0 28px;
            height: $operate-height;
            display: flex;
            align-items: center;
            justify-content: right;
        }
    }

    /* 文档详情loading 位置 */
    .el-loading-spinner {
        top: 150px;
        margin-top: 0;
    }
}

@include b(header-operate) {
    height: $doc-header-height;
    padding: 0 $document-padding;
    @apply flex items-center bg-white fixed top-0 z-50;
    left: $doc-layout-left-width;
    right: 0;

    .el-button {
        width: 50px;
        height: 30px;
    }

    @include e(main) {
        @apply flex-auto;
    }

    @include e(title) {
        font-size: 22px;
        font-weight: bold;
        color: #27272a;
    }

    @include e(btns) {
        @apply flex items-center;

        .iconfont {
            font-size: 24px;
            @apply cursor-pointer;
        }

        > * {
            margin-left: 30px;
        }
    }
}

// 项目目录
@include b(doc-catalog) {
    @apply flex justify-between items-center;
    padding: 0 1px;
    margin-bottom: 20px;
}
