.wl-transfer {
    position: relative;
    overflow: hidden;

    .el-tree .el-tree-node__expand-icon{
        padding-right: 3px;
    }

    .el-tree-node__label {
        overflow: hidden;
    }

    .transfer-left {
        position: absolute;
        top: 0;
        left: 0;
    }

    .transfer-right {
        position: absolute;
        top: 0;
        right: 0;
    }

    .transfer-right-item {
        height: calc((100% - 41px) / 2);
    }

    .transfer-right-small {
        height: 41px;
    }

    .transfer-right-only {
        height: 100%;
    }

    .transfer-main {
        padding: 10px;
        height: calc(100% - 41px);
        box-sizing: border-box;
        overflow: auto;
    }

    .transfer-left,
    .transfer-right {
        border: 1px solid #ebeef5;
        width: 43%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 5px;
        vertical-align: middle;
    }

    .transfer-center {
        position: absolute;
        top: 50%;
        left: 43%;
        width: 14%;
        transform: translateY(-50%);
        text-align: center;
    }

    .transfer-center-item {
        padding: 10px;
        overflow: hidden;
    }

    .transfer-title {
        border-bottom: 1px solid #ebeef5;
        padding: 0 15px;
        height: 40px;
        line-height: 40px;
        color: #333;
        //font-size: 16px;
        display: flex;
        align-items: center;
        background-color: #f5f7fa;
    }

    .transfer-title .el-checkbox {
        margin-right: 10px;
    }

    .filter-tree {
        margin-bottom: 10px;
    }
}
