// todo:按需打包editor中的Element组件
@import 'element-plus/theme-chalk/el-row.css';
@import 'element-plus/theme-chalk/el-col.css';
@import 'element-plus/theme-chalk/el-tabs.css';
@import 'element-plus/theme-chalk/el-select.css';
@import 'element-plus/theme-chalk/el-scrollbar.css';
@import 'element-plus/theme-chalk/el-popper.css';
@import 'element-plus/theme-chalk/el-autocomplete.css';

/* 处理Tailwind&Element样式冲突问题 */
@layer base {
    .el-button.el-button--primary {
        background-color: var(--primary-color);
    }
}

.el-card {
    --el-card-border-radius: 0 !important;
    .el-card__header {
        padding: 12.5px 16px !important;
        font-weight: 500;
        position: relative;
    }
}

.el-dialog {
    --el-dialog-title-font-size: theme('fontSize.base') !important;

    &.show-footer-line &__footer {
        border-top: 1px solid theme('borderColor.gray.200') !important;
    }

    &__header {
        border-bottom: 1px solid theme('borderColor.gray.200') !important;
        padding: 14px 16px !important;
        margin: 0 !important;
    }

    &__body {
        padding: 16px !important;
    }

    &__footer {
        padding: 12px 18px 12px 18px !important;
    }

    &__headerbtn {
        top: 2px !important;
    }
}

.el-radio-group .el-radio-button__inner {
    display: inline-flex;
}

.el-button {
    --el-button-font-weight: normal !important;
}

/* 隐藏element-ui表单红星 */
.hide_required.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before {
    display: none;
}

/* 允许input嵌套按钮时以主色调存在 */
.el-input-group__append button.el-button.el-button--primary {
    background-color: var(--primary-color) !important;
    color: #fff !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.el-table .cell {
    padding: 0 18px !important;
}

.el-tree {
    --el-tree-node-hover-bg-color: rgba(0, 0, 0, 0.04) !important;

    /* 拖拽上下以及内部边界改为虚线 */
    .el-tree__drop-indicator {
        height: 0;
        background-color: transparent;
        border-top: 1px dashed var(--primary-color);
    }

    .el-tree-node__content {
        border: 1px dashed transparent;
        position: relative;
        height: auto;

        > .el-tree-node__expand-icon {
            padding-left: 0;
            padding-right: 0;
            font-size: 14px;
            color: #6a6969;
        }
    }

    .el-tree-node__expand-icon.is-leaf {
        visibility: hidden;
        margin-left: -14px;
    }

    .is-drop-inner {
        > .el-tree-node__content .el-tree-node__label {
            background-color: transparent;
            color: inherit;
        }

        > .el-tree-node__content {
            border-color: var(--primary-color);
        }
    }

    /* 移除默认背景色行为,添加自定义hover行为 */
    .el-tree-node:focus > .el-tree-node__content,
    .el-tree-node__content:hover {
        background-color: transparent !important;
    }

    .el-tree-node__bg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
    }

    .el-tree-node__content:hover .el-tree-node__bg {
        background-color: var(--el-tree-node-hover-bg-color);
    }
}

.el-loading-mask {
    transition: none;
}
