@use './mixins/mixins.scss' as *;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '../iconfont/iconfont.css';

@import 'highlight.js/styles/googlecode.css';
@import '@natosoft/editor/dist/style.css';
@import '@natosoft/doc-content-css/dist/style.css';

@import 'nprogress/nprogress.css';
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light.css';

@import './variable.scss';
@import './element.scss';
@import './public.scss';
@import './text.scss';

@import './popper.scss';
@import './ac-table.scss';
@import './ac-tree.scss';
@import './ac-doc.scss';
@import './ac-login.scss';
@import './ac-transfer.scss';

@import './preview.scss';
