.ac-popper {
    background-color: #fff;
    &__arrow,
    &__arrow::before {
        position: absolute;
        width: 8px;
        height: 8px;
        z-index: 0;
        box-shadow: 0px -20px 20px 0px rgba(0, 0, 0, 0.2);
    }
    &__arrow::before {
        content: '';
        transform: rotate(45deg);
        background: rgb(255, 255, 255);
    }
    &__inner {
        box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
        white-space: nowrap;
    }
}

.ac-popper[data-popper-placement^='top'] .ac-popper__arrow::before {
    bottom: -4px;
}
.ac-popper[data-popper-placement^='bottom'] .ac-popper__arrow::before {
    top: -4px;
}

.ac-popper[data-popper-placement^='left'] .ac-popper__arrow::before {
    right: -4px;
}
.ac-popper[data-popper-placement^='right'] .ac-popper__arrow::before {
    left: -4px;
}

@include b(popper-menu) {
    padding: 0 !important;
    min-width: auto !important;
    margin: -5px -9px;

    @include m(thin) {
        padding: 4px 0 !important;
        @include e(item) {
            padding: 5px 16px !important;
        }
    }
    @include m(small) {
        @include e(item) {
            padding: 5px 24px !important;
        }
    }

    @include m(large) {
        padding: 10px 0 !important;
        @include e(item) {
            padding: 9px 34px !important;
        }
    }

    @include e(item) {
        @apply flex items-center py-2 px-4 cursor-pointer hover:bg-neutral-100;
    }

    @include e(icon) {
        font-size: 16px;
        width: 16px;
        height: 16px;
        margin-right: 4px;
        line-height: 1;
    }
}

.nav-dropdown {
    width: 200px;
}
