body,
html,
#app {
    background-color: var(--bg-color);
    position: relative;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
}

@font-face {
    font-family: 'AVANTGA';
    src: url('../font/unicode.avantgd.ttf') format('truetype'), url('../font/AVANTGA2.ttf') format('truetype');
}

.viewport {
    max-width: 1200px;
    margin: 0 auto;
}

/* 布局左侧导航 */
.sidebar-nav {
    .router-link-active,
    .active {
        color: theme('textColor.neutral.900');

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: -1px;
            bottom: -1px;
            width: 4px;
            background-color: var(--primary-color);
        }
    }
}

/* nprogress */
#nprogress .bar {
    background: var(--primary-color);
}

/* mac 插拔鼠标所导致的滚动条样式变形 */
.scroll-content {
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-track-piece,
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-corner,
    &::-webkit-scrollbar-resizer,
    &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0);
    }
}
