.title {
    word-break: break-all;
    color: $title-color;
}

.text {
    color: $text-color;
}

.text-second,
.text-helper {
    color: $text-color-secondary;
}

.title,
.text,
.text-second,
.text-helper {
    &.dis_hover:hover {
        color: $text-color;
    }
}
.dis_cursor {
    cursor: initial;
}

.error-text {
    &.dis_hover:hover {
        color: $error-text-color;
    }
    color: $error-text-color;
}
