:root {
    --el-color-primary: #006bff !important;
    --el-border-radius-base: 2px !important;
    --el-border-radius-small: 0px !important;
    --bg-color: #fafafa;
    --primary-color: var(--el-color-primary);
    --el-border-color-light: rgba(0,0,0, 0.15);
}

$min-width: 1440px;
$max-width: 1900px;

$header-height: 48px;

$title-color: rgba(#000, 0.85);
$text-color: rgba(#000,0.65);
$text-color-secondary: rgba(#000, 0.45);
$error-text-color: #ed4014;

$border-color: var(--el-border-color-light);

$divider-color: rgba(#000, 0.45);
