<p>Dear ApiCat User,</p>

<p>We hope this message finds you well. We wanted to inform you that the email address associated with your ApiCat account has been updated.</p>

<p>To complete the process and ensure the security of your account, please click on the verification link below:</p>

<p><a href="{{ .Link }}">{{ .Link }}</a></p>

<p>Thank you for choosing ApiCat. We appreciate your commitment to keeping your account information secure.</p>

<p>Best regards,</p>

<p>The ApiCat Team</p>