<p>Dear ApiCat User,</p>

<p>Thank you for choosing ApiCat! Your registration as a new user is now complete.</p>

<p>To ensure you can access all the features of ApiCat, kindly verify your email by clicking the link below:</p>

<p><a href="{{ .Link }}">{{ .Link }}</a></p>

<p>Verifying your email ensures timely updates and important information about ApiCat.</p>

<p>If the link above doesn't work, please copy and paste it into your browser's address bar.</p>

<p>Thank you for choosing ApiCat. We're excited to provide you with an exceptional user experience!</p>

<p>Best regards,</p>

<p>The ApiCat Team</p>