<p>Dear ApiCat User,</p>

<p>We received a request to reset the password associated with your ApiCat account. To proceed with the password reset, please click on the link below:</p>

<p><a href="{{ .Link }}">{{ .Link }}</a></p>

<p>If you did not initiate this request or if you believe it is an error, please ignore this email. Your password will remain unchanged.</p>

<p>For security reasons, the password reset link is only valid for 2 hour. After this period, you will need to submit another password reset request.</p>

<p>Thank you for using ApiCat.</p>

<p>Best regards,</p>

<p>The ApiCat Team</p>