node_modules
.DS_Store
.idea

lib
dist
dist-ssr
docs
coverage
test-results
.pnpm-store
.npmrc

sitemap.xml

.env
nx-cloud.env
*.local
*.cache
*error.log
*debug.log
.eslintcache

apps/website/stats.html
apps/website/src/types/components.d.ts
apps/website/src/types/auto-imports.d.ts
apps/website/src/typings/components.d.ts
