.DS_Store
.idea
.vscode
.git

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/packages/ac-editor/neovide_backtraces.log
frontend/.neoconf.json
frontend/apps/website/commandLog.json
frontend/bun.lockb
frontend/.nx
frontend/.env

uploads/*