# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
cmd/app/config.yaml

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
cmd/app/app

.DS_Store
.idea
.vscode
.neoconf.json
# Dependency directories (remove the comment below to include it)
# vendor/

frontend/dist/*
frontend/packages/ac-editor/neovide_backtraces.log
frontend/.neoconf.json
frontend/apps/website/commandLog.json
frontend/bun.lockb
frontend/.nx/cache
logs/*
uploads/*
config.yaml
setting.yaml
.env

docker/volumes/mysql/*
docker/volumes/weaviate/*
docker/volumes/app/uploads/*