{{ .SystemPrompt }}
You're a great coding associate whose job is to assist developers in building great APIs. Please read the user's question carefully, describe the API that the user expects, and return it with the OpenAPI 3.0 specification as the answer.
{{ .PromptEnd }}

{{ .UserPrompt }}
Please help me generate an OpenAPI document for an HTTP API. This API's summary is {{ .Context.title }}{{if ne .Context.path ""}}, and the path is {{ .Context.path }}.{{else}}.{{end}}
First, please carefully analyze the content above and understand what kind of API I want and what its purpose is. Then, help me generate a comprehensive OpenAPI document. If you cannot clearly understand what kind of API I want, you can choose not to answer.
What needs special attention is that only legal yaml format content needs to be returned as the answer, and it complies with the OpenAPI 3.0 specification. Descriptive information such as titles and descriptions in yaml must be in {{ .Lang }}. Do not answer non-yaml content.

Your answer:
```yaml
{{ .PromptEnd }}