@use './mixins/mixins' as *;

@include b(login) {
  @apply flex justify-center items-center w-full py-11;
  background-image: url(@/assets/images/login-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @include e(box) {
    width: 480px;
    background: #ffffff;
    border-radius: 16px;
    opacity: 0.94;
    padding: 50px;

    .el-form-item {
      margin-bottom: 20px;
    }

    .el-form-item__label {
      margin-bottom: 8px !important;
    }

    .el-input__inner {
      border-radius: 4px !important;
    }
  }

  @include e(logo) {
    margin-bottom: 42px;
  }

  @include e(label) {
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: var(--title-color);
    line-height: 22px;
    margin-bottom: 8px;
  }
}
