.ac-sce-simple {
  font-size: 14px;
  border: 1px solid var(--el-border-color-lighter);
  border-radius: var(--el-border-radius-base);
  overflow: hidden;

  table:not(.readonly) tr > td:nth-child(1) {
    opacity: 0.4;
  }

  table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    // add all border
    margin: -1px;
    width: calc(100% + 2px);

    tr {
      &:hover {
        @apply bg-gray-100;

        > td:nth-child(1) {
          opacity: 1;
        }
      }
    }

    th {
      font-weight: 500;
      text-align: left;
      color: #000000d9;
      cursor: default;
      user-select: none;
      -webkit-user-select: none;
      @apply bg-gray-100 px-12px;
    }

    th,
    td {
      height: 44px;
      border: 1px solid var(--el-border-color-lighter);
    }

    tr.drop-indicator {
      td,
      th {
        border-bottom: 1px solid var(--primary-color);
      }
    }

    tr.dragging {
      opacity: 0.5;
    }
  }

  table.readonly {
    td {
      @apply px-12px;
    }
  }
  .el-input__wrapper {
    --el-input-border-color: transparent;
    --el-input-bg-color: transparent;
  }
}
