:root {
  --bg-color: #fff;
  --doc-layout-left: var(--bg-color);
  --title-color: rgba(#000, 0.85);
  --text-color: rgba(#000, 0.65);
  --text-color-secondary: rgba(#000, 0.45);
  --primary-color: #006bff;

  --el-border-color-light: rgba(0, 0, 0, 0.15);
}
