:root {
  --bg-color: #fff;
  --title-color: rgba(#000, 0.85);
  --text-color: rgba(#000, 0.65);
  --text-color-secondary: rgba(#000, 0.45);
  --primary-color: #006bff;

  --el-border-color-light: rgba(0, 0, 0, 0.15);
}

$doc-layout-padding: 25px;
$doc-header-height: 60px;
$doc-layout-left-width: 315px;
$doc-layout-left-padding-right: 30px;
$doc-content-padding-left: $doc-layout-left-width + $doc-layout-left-padding-right;
$document-padding: 40px;
$operate-height: 60px;
