@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #006bff,
    ),
  ),
  $border-color: (
    '': #eceeef,
    'light': #eceeef,
    'lighter': #eceeef,
  ),
  $border-radius: (
    'base': 5px,
  ),
  $mask-color: (
    '': #fff,
  ),
  $dialog: (
    'border-radius': var(--el-border-radius-base),
  ),
  $table: (
    'header-bg-color': #f2f2f2,
    'row-hover-bg-color': #f2f2f2,
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;