The content in the following `TESTCASE` html tag is my test case for this API, the purpose is to "{{ .Data.TestCaseTitle }}".
Please help me optimize this test case through your professional testing experience and combined with my requirement.

<TESTCASE>
{{ .Data.TestCaseContent }}
</TESTCASE>

My requirement is: {{ .Data.Prompt }}
Please put the optimized results in the `NEWTESTCASE` html tag and answer it to me. If you can't optimize the API according to my requirements, please tell me directly that you can't do it.

Your answer:
<NEWTESTCASE>
</NEWTESTCASE>