ul.checkbox_list {
  list-style: none;
  padding: 0;
}

ul.checkbox_list li {
  display: flex;
}

ul.checkbox_list li.checked > div > p {
  color: @text-color-secondary;
  text-decoration: line-through;
}

ul li.ProseMirror-selectednode::after,
ol li.ProseMirror-selectednode::after {
  display: none;
}

ul.checkbox_list li input {
  pointer-events: initial;
  opacity: 1;
  margin: 0.5em 0.5em 0 0;
  width: 14px;
  height: 14px;
}

.checkbox_list, .ac-ul, .ac-ol{
  padding: 0;

  li.hovering::before {
    opacity: 0.5;
  }

  li p:first-child {
    margin: 0;
    word-break: break-word;
  }

  li.ProseMirror-selectednode::after {
    display: none;
  }

  //li::before {
  //  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iOCIgeT0iNyIgd2lkdGg9IjMiIGhlaWdodD0iMiIgcng9IjEiIGZpbGw9IiM0RTVDNkUiLz4KPHJlY3QgeD0iOCIgeT0iMTEiIHdpZHRoPSIzIiBoZWlnaHQ9IjIiIHJ4PSIxIiBmaWxsPSIjNEU1QzZFIi8+CjxyZWN0IHg9IjgiIHk9IjE1IiB3aWR0aD0iMyIgaGVpZ2h0PSIyIiByeD0iMSIgZmlsbD0iIzRFNUM2RSIvPgo8cmVjdCB4PSIxMyIgeT0iNyIgd2lkdGg9IjMiIGhlaWdodD0iMiIgcng9IjEiIGZpbGw9IiM0RTVDNkUiLz4KPHJlY3QgeD0iMTMiIHk9IjExIiB3aWR0aD0iMyIgaGVpZ2h0PSIyIiByeD0iMSIgZmlsbD0iIzRFNUM2RSIvPgo8cmVjdCB4PSIxMyIgeT0iMTUiIHdpZHRoPSIzIiBoZWlnaHQ9IjIiIHJ4PSIxIiBmaWxsPSIjNEU1QzZFIi8+Cjwvc3ZnPgo=);
  //  content: "";
  //  display: inline-block;
  //  cursor: move;
  //  width: 24px;
  //  height: 24px;
  //  position: absolute;
  //  left: -26px;
  //  top: 2px;
  //  opacity: 0;
  //  -webkit-transition: opacity 200ms ease-in-out;
  //  transition: opacity 200ms ease-in-out;
  //}
}

.ac-ul, .ac-ol{
  padding-left: 20px;

  li::before {
    left: -46px;
  }
}
