@font-face {
  font-family: "editor-font"; /* Project id 2632481 */
  src: url('iconfont.woff2?t=1626946265921') format('woff2'),
       url('iconfont.woff?t=1626946265921') format('woff'),
       url('iconfont.ttf?t=1626946265921') format('truetype');
}

.editor-font {
  font-family: "editor-font" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.editor-arrow-right:before {
  content: "\e6a9";
}

.editor-text-bg-color:before {
  content: "\e6a3";
}

.editor-italic:before {
  content: "\eead";
}

.editor-quote-left:before {
  content: "\e64c";
}

.editor-bold:before {
  content: "\e610";
}

.editor-codeblock:before {
  content: "\e611";
}

.editor-strike-through:before {
  content: "\e613";
}

.editor-text-underline:before {
  content: "\e614";
}

.editor-link:before {
  content: "\e615";
}

.editor-h2:before {
  content: "\e61a";
}

.editor-h1:before {
  content: "\e61f";
}

.editor-h3:before {
  content: "\e620";
}

.editor-split-cells-horizontal:before {
  content: "\e73e";
}

.editor-merge-cells-horizontal:before {
  content: "\e79d";
}

.editor-drag:before {
  content: "\e608";
}

.editor-mergecell:before {
  content: "\e780";
}

.editor-tablecolumnplusbefore:before {
  content: "\ead6";
}

.editor-tablecolumnremove:before {
  content: "\ead7";
}

.editor-tablerowplusbefore:before {
  content: "\eadd";
}

.editor-tablerowremove:before {
  content: "\eade";
}

.editor-check-box-outline:before {
  content: "\e63e";
}

.editor-table-column-plus-after:before {
  content: "\e8d0";
}

.editor-table-row-plus-after:before {
  content: "\e8d2";
}

.editor-delete_table:before {
  content: "\e60e";
}

.editor-table:before {
  content: "\e60f";
}

.editor-text-align-center:before {
  content: "\e619";
}

.editor-text-align-right:before {
  content: "\e61b";
}

.editor-text-align-left:before {
  content: "\e61c";
}

.editor-code:before {
  content: "\e65f";
}

.editor-trash:before {
  content: "\e61d";
}

.editor-share:before {
  content: "\e6a8";
}

.editor-bianji:before {
  content: "\e7f0";
}

